

.header{
	background:#090909;
	color:#9d9d9d;
	padding:0 0 5px;

	.navbar-brand{
		margin:0 auto;

		li{
			padding: 0 15px;
			border-right:1px solid #fff;
			box-sizing:content-box;

			&:first-child{
				padding-left:0;
			}
			&:last-child{
				padding-right:0;
				border-right:0;
			}
		}
	}

	.social-links{
		padding:16px 0 0;

		.counter {
			vertical-align: top;

			.addthis_counter{
				border-bottom: 0;
			}
			
			.atc_s{
				display:none!important;
			}
			.addthis_button_expanded{
				background:transparent;
				color:rgba(255,255,255,.5);
				width:auto;
				line-height: 1em;
				height:10px;
				font-weight: 300;
				font-size:12px;
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
				text-transform: none;

				&:before{
					content:"Shared +";
					font-weight:bold;
				}
			}
		}
		.twitter {
			.at4-icon{
				width:26px;
				height:21px;
				background:url(../images/logo-twitter_2x.png)!important;
				background-size:100%!important;
				opacity:.5;
			}
		}

		.facebook {
			.at4-icon{
				width:23px;
				height:23px;
				background:url(../images/logo-facebook_2x.png)!important;
				background-size:100%!important;
				opacity:.5;
			}
		}

	}

	@media(max-width:$screen-xs-max){
		padding:0;

		.navbar-nav{
			margin-bottom:0;
			margin-top:0;
		}

		.navbar-toggle {
			border:0;
			padding:3px;
			margin-top:15px;
			margin-right:10px;

			&:hover{
				background:#000;
			}


			.icon-bar{
				height:3px;
				background:#fff;
			}
		}

		.navbar-collapse {
			background:$brand-primary;
			text-transform: uppercase;

			.nav{
				a{
					color:#fff;
					border-bottom:1px solid rgba(255,255,255,.2);
					font-weight: 300;

					&:hover{
						color:#fff;
						opacity: .8;
					}

					&:after {
						content : ">";
						display: block;
						position: absolute;
						top:10px;
						right:15px;
					}

					.glyphicon{
						margin-right:10px;
					}
					
					&.disabled {
						cursor:default;
						opacity: .6;

						&:hover{
							opacity: .6;
						}
					}
				}
			}
		}

		.social-links{
			padding:10px 14px 5px;
			&.nav.navbar-nav a:after {
				content:"";
			}
		}
	}

	@media(min-width:$screen-sm){
		margin:0;
	
		#header.collapsing{
			height:auto!important;//override dropdown on desktop
		}
	}

}