.logo-telegraph{
	background:url(../images/logo-telegraph_2x.png) top left no-repeat;
	background-size:142px;
	width:142px;
	height:23px;
	text-indent:-9999em;
	display:inline-block;
	vertical-align:top;
	margin-top:3px;
}

.logo-fenwick-sm{
	background:url(../images/logo-fenwick-sm_x2.png);
	background-size:100%;
	width:69px;
	height:26px;
	text-indent:-9999em;
	display:inline-block;
	vertical-align:top;
}

.logo-fenwick {
	background:url(../images/logo-fenwick_x2.png);
	background-size:100%;
	width:122px;
	height:45px;
	text-indent:-9999em;
}