$brand-primary:         #0c6934; // #337ab7
$brand-success:         #0d9948;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;